.footer-component{
    clear:both;
    bottom:0;
    left:0;
    height:15vh;
    width:100%;
    background: black;
    color: white;
   display: grid;
   justify-content: center;
   align-items: center;
}